<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sk.pds.semestralka.mapper.CarMapper">
    <resultMap id="CarResultMap" type="sk.pds.semestralka.model.Car">
        <id column="car_id" property="carId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="fuel" property="fuel" />
        <result column="consumption" property="consumption" />
        <result column="picture" property="picture" />
    </resultMap>

    <select id="findAll" resultMap="CarResultMap">
        SELECT car_id, name, type, fuel, consumption, picture FROM car
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="CarResultMap">
        SELECT car_id, name, type, fuel, consumption, picture FROM car WHERE id = #{carId}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="CarResultMap">
        SELECT car_id, name, type, fuel, consumption, picture FROM car WHERE upper(name) like upper(#{carName})
    </select>

    <select id="findByType" parameterType="java.lang.String" resultMap="CarResultMap">
        SELECT car_id, name, type, fuel, consumption, picture FROM car WHERE upper(type) like upper(#{carType})
    </select>

    <select id="findByFuelType" parameterType="java.lang.String" resultMap="CarResultMap">
        SELECT car_id, name, type, fuel, consumption, picture FROM car WHERE upper(fuel) like upper(#{carFuelType})
    </select>

    <insert id="insertCar" parameterType="sk.pds.semestralka.model.Car">
        INSERT INTO car (name, type, fuel, consumption, picture) VALUES (#{name}, #{type}, #{fuelType}, #{consumption}, #{picture})
    </insert>

    <update id="updateCar" parameterType="sk.pds.semestralka.model.Car">
        UPDATE car SET (name, type, fuel, consumption, picture) = (#{name}, #{type}, #{fuelType}, #{consumption}, #{picture}) WHERE car_id = #{carId}
    </update>

    <delete id="deleteCar" parameterType="java.lang.Long">
        DELETE FROM car WHERE car_id = #{carId}
    </delete>
</mapper>