<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sk.pds.semestralka.mapper.LocationMapper">
    <resultMap id="LocationResultMap" type="sk.pds.semestralka.model.Location">
        <id column="location_id" property="locationId" />
        <result column="ride_id" property="rideId" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="time" property="time" />
    </resultMap>

    <select id="findAll" resultMap="LocationResultMap">
        SELECT location_id, ride_id, (coordinates).latitude latitude, (coordinates).longitute longitude, time FROM location
    </select>

    <select id="findById" resultMap="LocationResultMap" parameterType="java.lang.Long">
        SELECT location_id, ride_id, (coordinates).latitude latitude, (coordinates).longitute longitude, time FROM location WHERE location_id = #{locationId}
    </select>

    <select id="findByRide" resultMap="LocationResultMap" parameterType="java.lang.Long">
        SELECT location_id, ride_id, (coordinates).latitude latitude, (coordinates).longitute longitude, time FROM location WHERE ride_id = #{rideId}
    </select>

    <insert id="insertLocation" parameterType="sk.pds.semestralka.model.Location">
        INSERT INTO location (ride_id, coordinates, time)
        VALUES (#{location.rideId}, ROW(#{location.coordinates.latitude}, #{location.coordinates.longitude}), #{location.time})
    </insert>

    <update id="updateLocation" parameterType="sk.pds.semestralka.model.Location">
        UPDATE
          location
        SET
          (ride_id, coordinates, time) = (#{location.rideId}, ROW(#{location.coordinates.latitude}, #{location.coordinates.longitude}), #{location.time})
        WHERE
          location_id = #{locationId}
    </update>

    <delete id="deleteLocation" parameterType="java.lang.Long">
        DELETE FROM location WHERE location_id = #{locationId}
    </delete>
</mapper>