<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sk.pds.semestralka.mapper.PersonMapper">
    <resultMap id="PersonResultMap" type="sk.pds.semestralka.model.Person">
        <id column="identity_number" property="identityNumber"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="birthday" property="birthday"/>
    </resultMap>

    <resultMap id="PersonCourseResultMap" type="sk.pds.semestralka.model.PersonCourse">
        <id column="person_course_id" property="personCourseId" />
        <result column="date_from" property="dateFrom" />
        <result column="date_to" property="dateTo" />
        <association property="person" javaType="sk.pds.semestralka.model.Person">
            <id column="identity_number" property="identityNumber"/>
            <result column="first_name" property="firstName"/>
            <result column="last_name" property="lastName"/>
            <result column="birthday" property="birthday"/>
        </association>
        <association property="course" javaType="sk.pds.semestralka.model.Course">
            <id column="course_id" property="courseId"/>
            <result column="course_name" property="courseName"/>
            <result column="course_type" property="courseType"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="PersonResultMap">
        SELECT identity_number, first_name, last_name, birthday FROM person
    </select>

    <select id="findById" resultMap="PersonResultMap" parameterType="java.lang.String">
        SELECT identity_number, first_name, last_name, birthday FROM person WHERE UPPER(identity_number) = UPPER(#{identityNumber})
    </select>

    <select id="findByName" resultMap="PersonResultMap" parameterType="java.lang.String">
        SELECT identity_number, first_name, last_name, birthday FROM person WHERE UPPER(first_name || ' ' || last_name) = UPPER(#{name})
    </select>

    <select id="findByFirstName" resultMap="PersonResultMap" parameterType="java.lang.String">
        SELECT identity_number, first_name, last_name, birthday FROM person WHERE UPPER(first_name) = UPPER(#{firstName})
    </select>

    <select id="findByLastName" resultMap="PersonResultMap" parameterType="java.lang.String">
        SELECT identity_number, first_name, last_name, birthday FROM person WHERE UPPER(last_name) = UPPER(#{lastName})
    </select>

    <select id="findAllDrivers" resultMap="PersonCourseResultMap">
      SELECT
        pc.person_course_id person_course_id,
        p.identity_number identity_number,
        p.first_name first_name,
        p.last_name last_name,
        p.birthday birthday,
        c.course_id course_id,
        c.course_name course_name,
        c.course_type course_type,
        pc.date_from date_from,
        pc.date_to date_to
      FROM person_course AS pc
      JOIN person p on pc.identity_number = p.identity_number
      JOIN course c on pc.course_id = c.course_id
    </select>

    <insert id="insertPerson" parameterType="sk.pds.semestralka.model.Person">
        INSERT INTO person (identity_number, first_name, last_name, birthday) VALUES (#{identity_number}, #{first_name}, #{last_name}, #{birthday})
    </insert>

    <update id="updatePerson" parameterType="sk.pds.semestralka.model.Person">
        UPDATE person SET (course_name, course_type) = (#{courseName}, #{courseType}) WHERE UPPER(identity_number) = UPPER(#{identityNumber})
    </update>

    <delete id="deletePerson" parameterType="java.lang.Long">
        DELETE FROM person WHERE UPPER(identity_number) = UPPER(#{identityNumber})
    </delete>
</mapper>