<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sk.pds.semestralka.mapper.RideMapper">
    <resultMap id="RideResultMap" type="sk.pds.semestralka.model.Ride">
        <id column="ride_id" property="rideId" />
        <result column="identity_number" property="identityNumber" />
        <result column="car_id" property="carId" />
        <result column="datetime_from" property="datetimeFrom" />
        <result column="datetime_to" property="datetimeTo" />
    </resultMap>

    <select id="findAll" resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj
    </select>

    <select id="findAllByPageById" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          ride_id
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByIdentityNumber" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          identity_number
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByCarId" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          car_id
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByDateFrom" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          datetime_from
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByDateTo" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          datetime_to
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findById" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE ride_id = #{rideId}
    </select>

    <select id="findByPerson" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE identity_number = #{identityNumber}
    </select>

    <select id="findByCar" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE car_id = #{carId}
    </select>

    <insert id="insertRide" parameterType="sk.pds.semestralka.model.Ride">
        INSERT INTO ride_obj (identity_number, car_id, datetime_from, datetime_to)
        VALUES (#{ride.identityNumber}, #{ride.carId}, #{ride.datetimeFrom}, #{ride.datetimeTo})
    </insert>

    <update id="updateRide" parameterType="sk.pds.semestralka.model.Ride">
        UPDATE
          ride_obj
        SET
          (identity_number, car_id, datetime_from, datetime_to) = (#{ride.identityNumber}, #{ride.carId}, #{ride.datetimeFrom}, #{ride.datetimeTo})
        WHERE
          ride_id = #{ride.rideId}
    </update>

    <delete id="deleteRide" parameterType="java.lang.Long">
        DELETE FROM ride_obj WHERE ride_id = #{rideId}
    </delete>
</mapper>