<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sk.pds.semestralka.mapper.RideMapper">
    <resultMap id="RideResultMap" type="sk.pds.semestralka.model.Ride">
        <id column="ride_id" property="rideId" />
        <result column="identity_number" property="identityNumber" />
        <result column="car_id" property="carId" />
        <result column="datetime_from" property="datetimeFrom" />
        <result column="datetime_to" property="datetimeTo" />
    </resultMap>

    <resultMap id="ReservationResultMap" type="sk.pds.semestralka.model.Reservation" >
        <id column="ride_id" property="rideId" />
        <result column="time_from" property="timeFrom" />
        <result column="time_to" property="timeTo" />
        <result column="car_id" property="carId" />
        <result column="car_name" property="carName" />
        <result column="picture" property="picture" />
        <result column="identity_number" property="identityNumber" />
        <result column="name" property="name" />
    </resultMap>

    <select id="findAll" resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj
    </select>

    <select id="findAllByPageById" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          ride_id
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByIdentityNumber" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          identity_number
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByCarId" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          car_id
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByDateFrom" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          datetime_from
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findAllByPageByDateTo" resultMap="RideResultMap">
        SELECT
          ride_id, identity_number, car_id, datetime_from, datetime_to
        FROM
          ride_obj
        ORDER BY
          datetime_to
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <select id="findById" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE ride_id = #{rideId}
    </select>

    <select id="findByPerson" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE identity_number = #{identityNumber}
    </select>

    <select id="findByCar" parameterType="java.lang.Long"  resultMap="RideResultMap">
        SELECT ride_id, identity_number, car_id, datetime_from, datetime_to FROM ride_obj WHERE car_id = #{carId}
    </select>

    <select id="findAllReservations" resultMap="ReservationResultMap">
        SELECT
          r.ride_id ride_id,
          r.datetime_from datetime_from,
          r.datetime_to datetime_to,
          r.car_id car_id,
          c.name car_name,
          cp.picture picture,
          r.identity_number identity_number,
          p.last_name || ' ' || p.first_name as name
        FROM
          ride_obj r
        JOIN
          car c on r.car_id = c.car_id
        JOIN
          car_picture cp on c.picture_id = cp.picture_id
        JOIN
          person p on r.identity_number = p.identity_number
        WHERE
          r.datetime_from > now()
    </select>

    <select id="findAllPageReservations" resultMap="ReservationResultMap">
        SELECT
          r.ride_id ride_id,
          r.datetime_from time_from,
          r.datetime_to time_to,
          r.car_id car_id,
          c.name car_name,
          cp.picture picture,
          r.identity_number identity_number,
          p.last_name || ' ' || p.first_name as name
        FROM
          ride_obj r
        JOIN
          car c on r.car_id = c.car_id
        JOIN
          car_picture cp on c.picture_id = cp.picture_id
        JOIN
          person p on r.identity_number = p.identity_number
        WHERE
          r.datetime_from > now()
        LIMIT
          #{limit}
        OFFSET
          #{offset}
    </select>

    <insert id="insertRide" parameterType="sk.pds.semestralka.model.Ride">
        INSERT INTO ride_obj (identity_number, car_id, datetime_from, datetime_to)
        VALUES (#{ride.identityNumber}, #{ride.carId}, #{ride.datetimeFrom}, #{ride.datetimeTo})
    </insert>

    <update id="updateRide" parameterType="sk.pds.semestralka.model.Ride">
        UPDATE
          ride_obj
        SET
          (identity_number, car_id, datetime_from, datetime_to) = (#{ride.identityNumber}, #{ride.carId}, #{ride.datetimeFrom}, #{ride.datetimeTo})
        WHERE
          ride_id = #{ride.rideId}
    </update>

    <delete id="deleteRide" parameterType="java.lang.Long">
        DELETE FROM ride_obj WHERE ride_id = #{rideId}
    </delete>
</mapper>