
<a class="btn btn btn-success pull-right" routerLink="/car-create">Add car</a>
<h2>Car List</h2>
<table class="table" *ngIf="cars">
  <tr>
    <th>id</th>
    <th>name</th> 
    <th>type</th>
    <th>fuel type</th>
    <th>consumption</th>
    <th>picture</th>
    <th></th>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{ car.id }}</td>
    <td>{{ car.name }}</td>
    <td>{{ car.type }}</td>
    <td>{{ car.fuel }}</td>
    <td>{{ car.consumption }}</td>
    <td><img class="img" src="data:image/png;base64,{{car.picture}}" alt="" /></td>
    <td>
      <a class="btn btn btn-success pull-right" (click)="onSelect(car)">Detail</a>
      <a class="btn btn btn-danger pull-right" (click)="deleteCar(car)">Delete</a>
    </td>
  </tr>
</table>

<div class="center">

  <a class="btn btn btn-success" (click)="decreasePage()"><</a>
  <a class="btn btn btn-success">{{ page }}</a>
  <a class="btn btn btn-success" (click)="increasePage()">></a>
</div>


